.gifs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the space between the GIFs as needed */
  margin-bottom: 20px; /* Space before the next section */
}

.gif-item {
  /* flex-grow: 1;  /* Allow the items to grow */
  flex-basis: 33%;
  /* flex-basis: 50%; Each item takes up half of the container's width */
  text-align: center; /* Center-aligns the description */
}

.gif-item img {
  max-width: 100%; /* Makes the image responsive */
  height: auto; /* Maintain the aspect ratio */
  margin: 0; /* Remove any default margins */
}

.gif-description {
  margin-top: 10px; /* Space between the GIF and its description */
  font-size: 1.1em; /* Adjust the size of the description text as needed */
}
